@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-text: var(--text);
  --color-border: var(--border);
  --color-lightText: var(--lightText);
  --color-secondary: var(--secondary);
  --color-button: var(--button);
  --color-button2: var(--button2);
  --color-logo: var(--logo);
}

:root {
  --primary: #ffffff;
  /* --background: #131320; */
  --background: #040409;
  --text: #ffffff;
  --lightText: rgb(214, 210, 210);
  --secondary: #111111;
  --border: #2a2a2a;
  --button: #732573;
  --button2: #3730a3;
  --logo: #a8aab3ff;
}

.light {
  --primary: black;
  --background: rgb(238, 235, 235);
  --text: black;
  --lightText: rgb(55, 54, 54);
  --secondary: rgb(185, 181, 181);
  --border: #3e3e3e;
  --logo: rgb(41, 41, 43);
}
